<%- include("partials/header") -%>
    <h1> Welcome to Kik-Store</h1>
    
     <p>Search for Products CategoryID</p>
     <form action="/category" method="post">
        <label >Category Name</label>
        <input type="text" name="name" required autofocus>
        <button type="submit"> Search</button>
     </form>
     <div>
      <p> The CategoryID is <%= categoryId %> </p>
        <p>click to view <a href="/category/categoryid/<%= categoryId %>">More</a> details
      
    </div>


    <%- include("partials/footer") -%>